.task-form {
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.task-form__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;

    gap: 20px;
}
