.boards__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;

    border-radius: 10px;
    background-color: #faf6f6;

    gap: 16px;
}

.boards__item {
    width: 100%;
}