.task-toolbar {
    display: flex;
    flex-direction: column;

    margin: 18px 0;

    gap: 16px;
}
.task-toolbar__search {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: 16px;
}
.task-toolbar__button {
    position: absolute;
    right: 10px;
    top: -20px;
}
.task-toolbar__button_badge {
    position: absolute;
    right: 6px;
    top: -24px;

    color: #a27c82;

    font-size: 24px;
    font-weight: 600;
  }

.tasks {
    margin-top: 18px;
}
.tasks__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;

    border-radius: 10px;

    gap: 16px;
}
.tasks__item {
    width: 100%;
}
