.button {
    padding: 12px 18px;

    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;

    color: #a27c82;
    border: none;
    border-radius: 10px;
    background-color: #ffe0e5;

    font-size: 20px;
}

.button:hover {
    color: #775c60;
    background-color: #ffb2bf;
}

.button:disabled {
    cursor: not-allowed;

    background-color: #fcfafa;
}

.button--light {
    background-color: #fff;
    color:#6d5256;
}

.button--light:hover {
    background-color: #edb2b2;
}

.button--line {
    padding: 0 14px;

    background-color: transparent;
}
.button--line:hover {
    background-color: transparent;
}

.button--search-clear {
    padding: 8px 12px;
}