.droppable {
    width: 100%;
    min-height: 70vh;
    padding: 8px;

    border-radius: 10px;
}

@media (max-width: 480px) {
    .droppable {
        min-height: 300px;
    }
}

.droppable__item {
    margin-top: 10px;

    cursor: 'grab';

    touch-action: 'none';
}

.droppable__list {
    display: flex;
    flex-direction: column;

    padding: 10px;

    border-radius: 10px;
}