.droppable {
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    min-height: 500px;
    background-color: #faf6f6;
}

@media (max-width: 480px) {
    .droppable {
        min-height: 300px;
    }
}

.droppable__item {
    margin-top: 10px;
    cursor: 'grab';
    touch-action: 'none';
}

.droppable__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}