.droppable {
    width: 100%;
    min-height: 70vh;
    padding: 8px;

    border-radius: 10px;
}

@media (max-width: 480px) {
    .droppable {
        min-height: 300px;
    }
}

.droppable__item {
    margin-top: 10px;

    cursor: 'grab';

    touch-action: 'none';
}

.droppable__list {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;

    min-height: 60vh;
    max-height: 60vh;
    padding: 10px;

    border-radius: 10px;

    scroll-behavior: smooth;
}

.droppable__list::-webkit-scrollbar {
    width: 6px;
}

.droppable__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e3a5b0;
}