.filter {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.filter__fieldset {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.filter__checkbox {
    padding: 6px 12px;

    white-space: normal;

    font-size: 18px;

    overflow-wrap: anywhere;
}

.filter__checkbox input {
   margin-right: 10px;
}

.filter__buttons {
    display: flex;

    margin-top: 10px;

    gap: 16px;
}