.input {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-size: 18px;
}

.input__label {
    margin-bottom: 6px;

    font-size: 18px;
}

.input input {
    width: 100%;
    padding: 6px 12px;

    border: #efe1e2 1px solid;
    border-radius: 6px;
    background-color: #fff;
}

.input input[type="checkbox"],
.input input[type="radio"] {
    width: auto;
}

.input:has(input[type="checkbox"]),
.input:has(input[type="radio"]) {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    width: auto;

    gap: 8px;
}

.input__error {
    color: #e72e50;

    font-size: 14px;
}

.input__required {
    color: #e72e50;
}