.modal-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s ease;
    pointer-events: none;

    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal-overlay.open {
    pointer-events: auto;

    opacity: 1;
}

.modal {
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    padding: 20px;
    max-height: 100vh;

    transition: transform 0.3s ease;
    transform: scale(0.95);

    border-radius: 8px;
    background: white;
}

.modal-overlay.open .modal {
    transform: scale(1);
}

.modal__title {
    margin-bottom: 10px;

    font-size: 24px;
}

.modal-overlay__close {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.modal-overlay__close > span {
    font-size: 30px;
}