.textarea {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-size: 18px;
}

.textarea__label {
    margin-bottom: 6px;

    font-size: 18px;
}

.textarea textarea {
    width: 100%;
    min-height: 100px;
    padding: 6px 12px;

    border: #fff5f6 1px solid;
    border-radius: 6px;
    background-color: #fff;
}

.textarea__error {
    color: #e72e50;

    font-size: 14px;
}

.textarea__required {
    color: #e72e50;
}