.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 24px;

    color: #a27c82;
    background-color: #ffe0e5;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

    font-size: 20px;

    border-radius: 20px 20px 0 0;
}

.footer__author {
    font-weight: 500;
}

.footer__author:hover {
    color: #775c60;
}